
<head>
<link rel="stylesheet" type="text/css" href="../../zero1011.css">
<script language="JavaScript">
<!--
function FP_swapImg() {//v1.0
 var doc=document,args=arguments,elm,n; doc.$imgSwaps=new Array(); for(n=2; n<args.length;
 n+=2) { elm=FP_getObjectByID(args[n]); if(elm) { doc.$imgSwaps[doc.$imgSwaps.length]=elm;
 elm.$src=elm.src; elm.src=args[n+1]; } }
}

function FP_preloadImgs() {//v1.0
 var d=document,a=arguments; if(!d.FP_imgs) d.FP_imgs=new Array();
 for(var i=0; i<a.length; i++) { d.FP_imgs[i]=new Image; d.FP_imgs[i].src=a[i]; }
}

function FP_getObjectByID(id,o) {//v1.0
 var c,el,els,f,m,n; if(!o)o=document; if(o.getElementById) el=o.getElementById(id);
 else if(o.layers) c=o.layers; else if(o.all) el=o.all[id]; if(el) return el;
 if(o.id==id || o.name==id) return o; if(o.childNodes) c=o.childNodes; if(c)
 for(n=0; n<c.length; n++) { el=FP_getObjectByID(id,c[n]); if(el) return el; }
 f=o.forms; if(f) for(n=0; n<f.length; n++) { els=f[n].elements;
 for(m=0; m<els.length; m++){ el=FP_getObjectByID(id,els[n]); if(el) return el; } }
 return null;
}
// -->
</script>
</head>

<body onload="FP_preloadImgs(/*url*/'button1F.gif', /*url*/'button20.gif', /*url*/'button28.gif', /*url*/'button29.gif')">

<div style="position: absolute; width: 228px; height: 28px; z-index: 1; left: 35px; top: 28px" id="layer1">
	<a href="../../../index.htm">
	<img border="0" id="img1" src="button1E.gif" height="22" width="115" alt="Back to 2003page" fp-style="fp-btn: Metal Tab 1; fp-transparent: 1; fp-proportional: 0" fp-title="Back to 2003page" onmouseover="FP_swapImg(1,0,/*id*/'img1',/*url*/'button1F.gif')" onmouseout="FP_swapImg(0,0,/*id*/'img1',/*url*/'button1E.gif')" onmousedown="FP_swapImg(1,0,/*id*/'img1',/*url*/'button20.gif')" onmouseup="FP_swapImg(0,0,/*id*/'img1',/*url*/'button1F.gif')"></a>
	<a href="../../index.html">
	<img border="0" id="img2" src="button27.gif" height="22" width="100" alt="Back to Menu" fp-style="fp-btn: Metal Tab 2; fp-transparent: 1; fp-proportional: 0" fp-title="Back to Menu" onmouseover="FP_swapImg(1,0,/*id*/'img2',/*url*/'button28.gif')" onmouseout="FP_swapImg(0,0,/*id*/'img2',/*url*/'button27.gif')" onmousedown="FP_swapImg(1,0,/*id*/'img2',/*url*/'button29.gif')" onmouseup="FP_swapImg(0,0,/*id*/'img2',/*url*/'button28.gif')"></a></div>
<p>&nbsp; </p>
<div style="position: absolute; width: 893px; height: 1047px; z-index: 2; left: 33px; top: 55px; border-style: outset; border-width: 3px" id="layer2">
	<b><font size="7">(GAME TITLE)</font></b><p><font size="4"><b>(insert game 
	lol)</b></font></p>
	<p>&nbsp;</p>
	<p><font size="5"><b>Description:</b></font></p>
	<p><b>(insert description dude)</b></div>

</body>
