/* Canberra CSS, first and only Project Phoenix-era Special CSS. May or may not be yet another Sivityigans reference... */

html {
	background-color: rgb(240, 175, 88);
	color: #404040;
}

.menubutton {
	background-color: rgb(240, 175, 88);
	color: #404040;
}

.header {
    color: #404040;
}

.header a {
    color: #404040;
}

.header a:hover {
    color: black;
}