.paragraph_style {
    color: rgb(169, 169, 169);
    font-family: 'HelveticaNeue-Bold', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 44px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 65px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    opacity: 1.00;
    padding-bottom: 0;
    padding-top: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
}
.paragraph_style_1 {
    color: rgb(169, 169, 169);
    font-family: 'HelveticaNeue-Bold', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 27px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 39px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    opacity: 1.00;
    padding-bottom: 0;
    padding-top: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
}
.style_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke_1 {
    background: transparent;
    opacity: 1.00;
}
.Body {
    color: rgb(169, 169, 169);
    font-family: 'HelveticaNeue-Bold', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 20;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    opacity: 1.00;
    padding-bottom: 0;
    padding-top: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: none;
}
.graphic_generic_title_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_shape_layout_style_default {
    padding: 4px;
}
.graphic_shape_layout_style_default_External_620_41 {
    position: relative;
}
.graphic_textbox_layout_style_default {
    padding: 4px;
}
.graphic_textbox_layout_style_default_External_199_989 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_242_1160 {
    position: relative;
}
.graphic_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
#widget1 a {
    color: rgb(169, 169, 169);
    text-decoration: underline;
}
#widget0 a:hover {
    color: rgb(255, 38, 0);
    text-decoration: underline;
}
#widget1 a:hover {
    color: rgb(255, 38, 0);
    text-decoration: underline;
}
#widget0 a:visited {
    color: rgb(121, 121, 121);
    text-decoration: underline;
}
#widget0 a {
    color: rgb(169, 169, 169);
    text-decoration: underline;
}
#widget1 a:visited {
    color: rgb(121, 121, 121);
    text-decoration: underline;
}
.spacer {
    font-size: 1px;
    line-height: 1px;
}
.tinyText {
    font-size: 1px;
    line-height: 1px;
}
.bumper {
    font-size: 1px;
    line-height: 1px;
}
body {
    -webkit-text-size-adjust: none;
}
div {
    overflow: visible;
}
img {
    border: none;
}
.InlineBlock {
    display: inline;
}
.inline-block {
    display: inline-block;
    vertical-align: baseline;
    margin-bottom:0.3em;
}
.inline-block.shape-with-text {
    vertical-align: bottom;
}
.vertical-align-middle-middlebox {
    display: table;
}
.vertical-align-middle-innerbox {
    display: table-cell;
    vertical-align: middle;
}
div.paragraph {
    position: relative;
}
li.full-width {
    width: 100;
}
