html {
	font-family: "Segoe UI", "Open Sans", "Noto Sans", "Roboto", "Ubuntu", "verdana", "arial", "sans-serif"; /* Google fonts are listed so that Android/Chromebook users won't see Serif text. Ubuntu is also listed for Ubuntu users as a last resort/*/
	color: #FFF;
	background-color: #1f1f1f;
}

footer {
	display: block;
}

.header {
	font-size: 20px;
	padding-bottom: 4px;
    border-style: none none solid none;
    border-width: 1px;
}

.header span {
    border-style: none solid none none;
    border-width: 1px;
    padding-right: 8px;
    padding-left: 8px;
}

.header a {
	color: white;
	text-decoration: none;
}

.header a:hover {
	color: grey;
	text-decoration: none;
}

.header a:active {
	color: white;
	text-decoration: none;
}

.content {
	text-align: center;
}

.py-3 { /*what the hell is py-3*/
    padding-bottom: 1rem !important;
}

.menubutton {
	background-color: #ff000000;
	color: white;
	font-size: 20px;
	border: none;
	padding-right: 0;
	padding-left: 0;
	margin-left: 8px;
}

.menu {
	position: relative;
	display: inline-block;
}

.menulist {
	display: none;
	position: absolute;
	background-color: #f5f5f5;
	min-width: 160px;
	z-index: 1;
	padding-left: 0;
	padding-right: 0;
	margin-left: 8px;
}

.menulist a {
	color: black;
	padding: 4px 16px;
	text-decoration: none;
	display: block;
}

.menulist a:hover {
	background-color: #ddd;
}

.menu:hover .menulist {
	display: block;
}

.menu:hover .menubutton {
	background-color: #d1d1d1;
	color: white;
}