body {
    background-color: rgb(27, 27, 27);
}

.header {
    font-size: 50px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.desc {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 25px;
    letter-spacing: -2.2px;
    word-spacing: 2px;
    color: white;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;

}

.linkbox {
    border: 5px solid red;
    font-size: 25px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
	letter-spacing: -0.8px;
	word-spacing: -0.2px;
	font-weight: normal;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
}

.center {
	text-align: center;
}

a {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;
	letter-spacing: -0.8px;
	word-spacing: -0.2px;
	font-weight: 700;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
    color: white;
  }